//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 17 17:58:54 2020
//! **************************************************************************

SCHEMATIC START;
COMP "common_seg_FPGA<0>" LOCATE = SITE "P44" LEVEL 1;
COMP "common_seg_FPGA<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "common_seg_FPGA<2>" LOCATE = SITE "P33" LEVEL 1;
COMP "common_seg_FPGA<3>" LOCATE = SITE "P30" LEVEL 1;
COMP "cs_SW_P1_P142<0>" LOCATE = SITE "P142" LEVEL 1;
COMP "cs_SW_P1_P142<1>" LOCATE = SITE "P1" LEVEL 1;
COMP "promote_LED<0>" LOCATE = SITE "P104" LEVEL 1;
COMP "promote_LED<1>" LOCATE = SITE "P102" LEVEL 1;
COMP "promote_LED<2>" LOCATE = SITE "P101" LEVEL 1;
COMP "promote_LED<3>" LOCATE = SITE "P100" LEVEL 1;
COMP "num_mv_P6toP24<0>" LOCATE = SITE "P24" LEVEL 1;
COMP "num_mv_P6toP24<1>" LOCATE = SITE "P22" LEVEL 1;
COMP "num_mv_P6toP24<2>" LOCATE = SITE "P17" LEVEL 1;
COMP "num_mv_P6toP24<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "num_mv_P6toP24<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "num_mv_P6toP24<5>" LOCATE = SITE "P10" LEVEL 1;
COMP "num_mv_P6toP24<6>" LOCATE = SITE "P8" LEVEL 1;
COMP "num_mv_P6toP24<7>" LOCATE = SITE "P6" LEVEL 1;
COMP "whoWin_P88_P92<0>" LOCATE = SITE "P115" LEVEL 1;
COMP "whoWin_P88_P92<1>" LOCATE = SITE "P114" LEVEL 1;
COMP "seg7_setlevel_alt<0>" LOCATE = SITE "P131" LEVEL 1;
COMP "seg7_setlevel_alt<1>" LOCATE = SITE "P133" LEVEL 1;
COMP "seg7_setlevel_alt<2>" LOCATE = SITE "P137" LEVEL 1;
COMP "seg7_setlevel_alt<3>" LOCATE = SITE "P139" LEVEL 1;
COMP "seg7_setlevel_alt<4>" LOCATE = SITE "P141" LEVEL 1;
COMP "seg7_setlevel_alt<5>" LOCATE = SITE "P143" LEVEL 1;
COMP "seg7_setlevel_alt<6>" LOCATE = SITE "P2" LEVEL 1;
COMP "L0_P82" LOCATE = SITE "P95" LEVEL 1;
COMP "L7_P67" LOCATE = SITE "P67" LEVEL 1;
COMP "error_LED<0>" LOCATE = SITE "P112" LEVEL 1;
COMP "error_LED<1>" LOCATE = SITE "P99" LEVEL 1;
COMP "L2_L1_P80_P81<0>" LOCATE = SITE "P81" LEVEL 1;
COMP "L2_L1_P80_P81<1>" LOCATE = SITE "P80" LEVEL 1;
COMP "ng_SW_P121" LOCATE = SITE "P121" LEVEL 1;
PIN ng_SW_P121_pin<0> = BEL "ng_SW_P121" PINNAME PAD;
PIN "ng_SW_P121_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "clk_P123" LOCATE = SITE "P123" LEVEL 1;
COMP "up_down_P140_P138<0>" LOCATE = SITE "P138" LEVEL 1;
COMP "up_down_P140_P138<1>" LOCATE = SITE "P140" LEVEL 1;
COMP "seg7_FPGA<0>" LOCATE = SITE "P27" LEVEL 1;
COMP "seg7_FPGA<1>" LOCATE = SITE "P29" LEVEL 1;
COMP "seg7_FPGA<2>" LOCATE = SITE "P32" LEVEL 1;
COMP "seg7_FPGA<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "seg7_FPGA<4>" LOCATE = SITE "P35" LEVEL 1;
COMP "seg7_FPGA<5>" LOCATE = SITE "P40" LEVEL 1;
COMP "seg7_FPGA<6>" LOCATE = SITE "P41" LEVEL 1;
COMP "rx_P97" LOCATE = SITE "P97" LEVEL 1;
COMP "tx_P98" LOCATE = SITE "P98" LEVEL 1;
COMP "promote_sw<0>" LOCATE = SITE "P117" LEVEL 1;
COMP "promote_sw<1>" LOCATE = SITE "P118" LEVEL 1;
COMP "promote_sw<2>" LOCATE = SITE "P119" LEVEL 1;
COMP "promote_sw<3>" LOCATE = SITE "P120" LEVEL 1;
COMP "alpha_mv_P5toP23<0>" LOCATE = SITE "P23" LEVEL 1;
COMP "alpha_mv_P5toP23<1>" LOCATE = SITE "P21" LEVEL 1;
COMP "alpha_mv_P5toP23<2>" LOCATE = SITE "P16" LEVEL 1;
COMP "alpha_mv_P5toP23<3>" LOCATE = SITE "P14" LEVEL 1;
COMP "alpha_mv_P5toP23<4>" LOCATE = SITE "P11" LEVEL 1;
COMP "alpha_mv_P5toP23<5>" LOCATE = SITE "P9" LEVEL 1;
COMP "alpha_mv_P5toP23<6>" LOCATE = SITE "P7" LEVEL 1;
COMP "alpha_mv_P5toP23<7>" LOCATE = SITE "P5" LEVEL 1;
COMP "winTypeP80_P81<0>" LOCATE = SITE "P92" LEVEL 1;
COMP "winTypeP80_P81<1>" LOCATE = SITE "P88" LEVEL 1;
SCHEMATIC END;

