//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 16 02:47:05 2020
//! **************************************************************************

SCHEMATIC START;
COMP "common<0>" LOCATE = SITE "P44" LEVEL 1;
COMP "common<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "seg7<0>" LOCATE = SITE "P27" LEVEL 1;
COMP "common<2>" LOCATE = SITE "P33" LEVEL 1;
COMP "rx_P97" LOCATE = SITE "P97" LEVEL 1;
COMP "seg7<1>" LOCATE = SITE "P29" LEVEL 1;
COMP "common<3>" LOCATE = SITE "P30" LEVEL 1;
COMP "seg7<2>" LOCATE = SITE "P32" LEVEL 1;
COMP "seg7<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "seg7<4>" LOCATE = SITE "P35" LEVEL 1;
COMP "seg7<5>" LOCATE = SITE "P40" LEVEL 1;
COMP "seg7<6>" LOCATE = SITE "P41" LEVEL 1;
COMP "clk_P123" LOCATE = SITE "P123" LEVEL 1;
SCHEMATIC END;

